// Colors
$color-primary:     #7C113A;
$color-secondary:   #07090A;

$light-gray:        #FDFDFD;
$gray:              #F8F8F8;
$medium-gray:       #DDDDDD;
$dark-gray:         #A7AFB2;
$white:             #FFFFFF;
$black:             #000000;
$light-pink:        #F2D0CE;
$pink:              #C5839C;



// Objects
$text-color:          #373435;
$link-color:          $color-primary;
$link-hover-color:    darken($color-primary, 10%);

$btn-color-primary:   $color-secondary;



// Typography
$font-primary:        'Product Sans', sans-serif;
$font-secondary:      'Futura', sans-serif;



// Behaviour
$transition-default:  all .2s ease-out;



// Breakpoints
$xs-max:  767px;
$sm:      768px;
$sm-max:  1023px;
$md:      1024px;
$md-max:  1199px;
$lg:      1366px;
