.c-contact {
  margin-bottom: clamp(50px, 5vw, 100px);

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;

    @include below($sm-max) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__content {
    margin-top: 2em;
  }

  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__description {
    margin-top: 0;
  }

  &__info {
    display: flex;
    
    @include below($xs-max) {
      flex-direction: column;
    }
    
    p {
      margin-top: 0;
      word-break: break-all;
    }
  }

  &__phone {
    margin-right: 35px;
  }
}