.c-header {
  background-image: linear-gradient(to bottom, rgba(0,0,0,.5), transparent);
  background-color: transparent;
  position: fixed;
  top: 0;
  transition: $transition-default;
  width: 100%;
  z-index: 99;

  &.is-active-header {
    background-color: $white;
    background-image: none;
    box-shadow: 0 2px rgba(0,0,0,.1);
  }

  &.is-active-header-secondary {
    background-color: $white;
    background-image: none;
  }

  &.is-active-border {
    box-shadow: 0 2px rgba(0,0,0,.1);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin: 1.75em auto;

    @include below($xs-max) {
      margin: .75em auto;
    }

    .is-active-header &,
    .is-active-header-secondary & {
      margin: .75em 0;
    }
    
    a {
      color: $white;

      .is-active-header &,
      .is-active-header-secondary & {
        color: $color-primary;
      }
    }
    
    a {
      display: inline-block;
    }
    
    svg {
      transition: $transition-default;
      
      .is-active-header &,
      .is-active-header-secondary & {
        width: 226px;
        height: 52px;
      }
    }
  }
}